[Unit]
Description=Ornek bir sunucu
After=network.target

[Service]
User=www-data
Group=www.data
WorkingDirectory=/opt/ubuntu
ExecStart=/usr/bin/gunicorn --workers 4 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
